@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --coolwhite: #FDFDFB;
  --warmwhite: #F0EEE8;
  --darkpowder: #FFAE95;
  --powder: #D1AF8D;
  --lightpowder: #EFD8C6;
  --blue: #C3ECF3;
  --gold: #C6A566;
  --black: #030201;
  --darkestgray: #1B150A;
  --deepgray: #312B22;
  --gray: #5C5851;
  --lightgray: #726F69;
  --lightengray: #CBC9C6;
  --brown: #DFCCA9;
  --lightbrown: #EFE5D4;
  --red: #CA3000;
  --green: #00CA63;
  --color-1-5: #F5F2EB;
  --color-6-12: #FDE9E6;
  --color-13-20: #FBC7B9;
}


/*****************
SCROLL STYLIZATION
******************/
html {
    scrollbar-color: var(--gold) var(--lightbrown);
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--lightbrown);
}
::-webkit-scrollbar-thumb {
    background-color: var(--gold);
    border-radius: 0px;
    transition: .2s;
}
::-webkit-scrollbar-thumb:hover {background-color: var(--darkpowder);}
::-webkit-scrollbar-button:vertical:start:decrement {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 6px solid var(--gold);
    background-color: var(--coolwhite);
}
::-webkit-scrollbar-button:vertical:end:increment {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 6px solid var(--gold);
    background-color: var(--coolwhite);
}
::-webkit-scrollbar-button:horizontal:start:decrement {
    border-right: 6px solid var(--gold);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-color: var(--coolwhite);
}
::-webkit-scrollbar-button:horizontal:end:increment {
    border-left: 6px solid var(--gold);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-color: var(--coolwhite);
}


body {
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: var(--deepgray);
    position: relative;
    background: url(../img/bg/bg-0.png) no-repeat var(--coolwhite);
    background-size: 100% 80%;
    background-position: center bottom;
}
@media (max-width: 1199px){
    body {font-size: 15px;}
}
@media (max-width: 991px){
    body {font-size: 14px;}
}
@media (max-width: 575px){
    body {font-size: 12px;}
}


a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.disable {
    pointer-events: none;
    cursor: default;
}

p, label, span, a, form, select, div, blockquote, cite, figure, figcaption, ul, ol, dl {
    line-height: normal;
    margin-bottom: 0px;
}


/* FORMS CUSTOMIZATION */
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active, 
textarea, textarea:hover, textarea:focus, textarea:active,
select, select:hover, select:focus, select:active {outline: none;}

/* placeholder stylization */
input:-moz-placeholder, textarea:-moz-placeholder {color: var(--lightengray); font-weight: 400; font-size: .9em;}
input::-moz-placeholder, textarea::-moz-placeholder {color: var(--lightengray); font-weight: 400; font-size: .9em;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: var(--lightengray); font-weight: 400; font-size: .9em;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: var(--lightengray); font-weight: 400; font-size: .9em;}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {color: var(--lightengray); font-weight: 400; font-size: .9em;}
input::placeholder, textarea::placeholder {color: var(--lightengray); font-weight: 400; font-size: .9em;}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input, textarea {
    border: 1px solid var(--lightengray);
    background-color: var(--coolwhite);
    border-radius: 0;
    padding: .75em 1.5em;
    width: 100%;
    line-height: normal;
    box-shadow: unset;
}
input.transparent, textarea.transparent {
    border: 1px solid transparent;
    padding: 0px;
}
/* .b-lgray {border: 1px solid var(--lightengray);} */
input:focus, textarea:focus {border: 1px solid var(--powder);}
input.transparent:focus, textarea.transparent:focus {border: 1px solid transparent;}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url(../img/icons/calendar.svg) no-repeat center;
    background-size: 1.5em 1.5em;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url(../img/icons/clock.svg) no-repeat center;
    background-size: 1.5em 1.5em;
}

.radio, .radio-mark, .checkbox, .radio-block, .radio-btn {position: relative;}
.radio input, .radio-mark input, .checkbox input, .radio-block input, .radio-btn input {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.radio label, .radio-mark label, .checkbox label {
    position: relative;
    z-index: 1;
    color: var(--gray);
}
.radio-btn label {
    display: block;
    background-color: var(--coolwhite);
    border: 1px solid var(--powder);
    color: var(--deepgray);
    line-height: 1.1em;
    padding: 1em 1.5em;
    text-align: center;
    transition: .4s;
    font-size: .9em;
}
.radio-block>div {
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
}
.radio input:checked ~ label {
    color: var(--powder);
}
.radio-btn input:checked ~ label {
    background-color: var(--powder);
    border: 1px solid var(--powder);
    color: var(--coolwhite);
}
.radio-block input:checked ~ div {
    border: 1px solid var(--gold);
}
.checkbox label, .radio-mark label {
    display: flex;
    align-items: flex-start;
}
.checkbox label::before {content: url(../img/icons/checkbox.svg);}
.radio-mark label::before {content: url(../img/icons/radio.svg);}
.checkbox label::before, .radio-mark label::before {
    margin-right: .5em;
    width: 18px;
    height: 18px;
}
.checkbox input:hover ~ label, .radio-mark input:hover ~ label {color: var(--powder);}
.checkbox input:hover ~ label::before {content: url(../img/icons/checkbox-hover.svg);}
.checkbox input:checked ~ label::before {content: url(../img/icons/checkbox-checked.svg);}
.radio-mark input:hover ~ label::before {content: url(../img/icons/radio-hover.svg);}
.radio-mark input:checked ~ label::before {content: url(../img/icons/radio-checked.svg);}


/* кнопки */
button {
    background: none;
    border: none;
    padding: unset;
    display: block;
}
button:hover, button:focus, button:active {cursor: pointer;}
.btn_main {
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    line-height: 1.1em;
    padding: 1em 1.5em;
    text-align: center;
    transition: .4s;
    font-weight: 500;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn_main:hover, .btn_main:focus, .btn_main:active {cursor: pointer;}
/* lightbrown button */
.btn_1 {
    color: var(--coolwhite);
    background-color: var(--powder);
    border: 1px solid var(--powder);
}
.btn_1:hover, .btn_1:focus {
    color: var(--coolwhite);
    background-color: #D7AF87;
    border: 1px solid #D7AF87;
}
.btn_1:active {
    color: var(--coolwhite);
    background-color: #C9AF96;
    border: 1px solid  #C9AF96;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.05);
}
/* transparent button with border-bottom */
.btn_2 {position: relative;}
.btn_2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--powder);
    transform: scaleX(1);
    transition: transform .4s ease-out;
}
.btn_2:hover::after, .btn_2:focus::after {transform: scaleX(0);}
.btn_2:active::after {
    background-color: var(--darkpowder);
    transform: scaleX(1);
    transition: transform .1s ease-out;
}
/* transparent button with border */
.btn_3 {
    color: var(--gray);
    background-color: transparent;
    border: 1px solid var(--powder);
}
.btn_3:hover, .btn_3:focus {
    color: var(--coolwhite);
    background-color: #D7AF87;
    border: 1px solid #D7AF87;
}
.btn_3:active {
    color: var(--coolwhite);
    background-color: #C9AF96;
    border: 1px solid  #C9AF96;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.05);
}
.btn_1:disabled, .btn_3:disabled {
    color: var(--coolwhite);
    background-color: var(--lightpowder);
    border: 1px solid var(--lightpowder);
}
.btn_4 {
    color: var(--lightengray);
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
}
.btn_4 span {font-size: .7em;}
.btn_4 svg {
    width: 1.25em;
    height: 1.25em;
}
.btn_4 svg path {
    stroke: var(--lightengray);
    stroke-width: 1.25px;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.btn_4:hover, .btn_4:focus, .btn_4:active {
    color: var(--powder);
    background-color: transparent;
}
.btn_4:hover svg path, .btn_4:focus svg path, .btn_4:active svg path {
    stroke: var(--powder);
}
@media (max-width: 575px){
    .btn_main {padding: .8em 1em;} 
}

.btn_icon {
    width: 2.5em;
    height: 2.5em;
    /* border: 1px solid var(--powder); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_icon svg {
    width: 1.5em;
    height: 1.5em;
    stroke: var(--powder);
    stroke-width: 1.5px;
    stroke-linecap:round;
    stroke-linejoin:round;
    transition: .25s;
}
.btn_icon.fav-btn[data-fav="false"] {fill:transparent;}
.btn_icon.fav-btn[data-fav="true"] svg {fill:var(--powder);}
.btn_icon:hover svg, .btn_icon:focus svg, .btn_icon:active svg {
    transform: scale(1.15);
}
.btn_icon_2 {
    width: 2em;
    height: 2.5em;
    border: none;
    background-color: var(--color-1-5);
}

.fav-btn[data-fav="false"]::after {
    content: "В избранное";
}
.fav-btn[data-fav="true"]::after {
    content: "В избранном";
}
.btn_icon.fav-btn::after {
    content: unset !important;
}

.fav-btn svg {
    width: 1.25em;
    height: 1.25em;
    margin-right: .5em;
}
.btn_icon.fav-btn svg {
    margin-right: 0px;
}
.fav-btn svg path {
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin:round;
    transition: .4s;
}

.btn_1.fav-btn[data-fav="false"] svg path {
    fill: transparent;
    stroke: var(--coolwhite);
}
.btn_1.fav-btn[data-fav="true"] svg path {
    fill: var(--coolwhite);
    stroke: var(--coolwhite);
}

.btn_3.fav-btn[data-fav="false"] svg path {
    fill: transparent;
    stroke: var(--powder);
}
.btn_3.fav-btn[data-fav="true"] svg path {
    fill: var(--powder);
    stroke: var(--powder);
}
.btn_3.fav-btn[data-fav="false"]:hover svg path, 
.btn_3.fav-btn[data-fav="false"]:focus svg path,
.btn_3.fav-btn[data-fav="false"]:active {
    fill: transparent;
    stroke: var(--coolwhite);
}
.btn_3.fav-btn[data-fav="true"]:hover svg path, 
.btn_3.fav-btn[data-fav="true"]:focus svg path,
.btn_3.fav-btn[data-fav="true"]:active {
    fill: var(--coolwhite);
    stroke: var(--coolwhite);
}

@media (max-width: 767px){
    .btn_4 span {font-size: .8em;}
}
@media (max-width: 575px){
    .btn_4 span {font-size: .9em;}
}



/* TEXT STYLIZATION */
h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}
h1 {
    font-size: 2em;
    margin-bottom: 1em;
}
h2 {
    font-size: 3em;
    margin-bottom: 32px;
}
h3 {
    font-size: 2.25em;
    margin-bottom: 24px;
}
h4 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 1em;
}
@media (max-width: 1199px){
    h1 {font-size: 1.8em;}
    h2 {font-size: 2.5em;}
    h3 {font-size: 2em;}
}
@media (max-width: 991px){
    h1, h2, h3, h4 {margin-bottom: .7em;}
}
@media (max-width: 767px){
    h1, h2, h3, h4 {margin-bottom: .8em;}
}
@media (max-width: 575px){
    h1, h2, h3, h4 {margin-bottom: 1em;}
    h1 {font-size: 1.6em;}
    h2 {font-size: 2em;}
    h3 {font-size: 1.8em;}
}

.felix {font-family: 'Felix Titling';}
.brandon {font-family: 'Brandon Grotesque';}
.source {font-family: 'Source Serif Pro', serif;}
.pt {font-family: 'PT Sans', sans-serif;}
.lato {font-family: 'Lato';}
.com {font-family: 'Comfortaa', cursive;}

.f_07 {font-size: .7em;}
.f_08 {font-size: .8em;}
.f_09 {font-size: .9em;}
.f_11 {font-size: 1.1em;}
.f_12 {font-size: 1.2em;}
.f_13 {font-size: 1.3em;}
.f_14 {font-size: 1.4em;}
.f_15 {font-size: 1.5em;}
.f_16 {font-size: 1.6em;}
.f_17 {font-size: 1.7em;}
.f_18 {font-size: 1.8em;}
.f_19 {font-size: 1.9em;}
.f_20 {font-size: 2em;}
.f_30 {font-size: 3em;}
.white {color: var(--coolwhite);}
.black {color: var(--black);}
.gray {color: var(--gray);}
.lightgray {color: var(--lightgray);}
.lightengray {color: var(--lightengray);}
.powder {color: var(--powder);}
.gold {color: var(--gold);}

.fw_1 {font-weight: 100;} /* thin */
.fw_2 {font-weight: 200;} /* extra-light */
.fw_3 {font-weight: 300;} /* light */
.fw_4 {font-weight: 400;} /* regular */
.fw_5 {font-weight: 500;} /* medium */
.fw_6 {font-weight: 600;} /* semi-bold */
.fw_7 {font-weight: 700;} /* bold */
.fw_8 {font-weight: 800;} /* extra-bold */
.fw_9 {font-weight: 900;} /* black */

.lh_15 {line-height: 1.5em;}

.itlc {font-style: italic;}
.norm {font-style: normal;}

.ls-1 {letter-spacing: .1em;}
.ls-3 {letter-spacing: .3em;}

.ws-no {white-space: nowrap;}



main {
    width: calc(100% - 128px);
    margin: 0px auto;
    background-color: var(--coolwhite);
    position: relative;
    padding-top: 3em;
}
main.main-border {border: 1px solid var(--gold);}
main>section {
    position: relative;
    z-index: 2;
}
@media (max-width: 1268px) and (min-width: 1201px) {
    main {width: calc(100% - 60px);}
}
@media (max-width: 1087px) and (min-width: 992px) {
    main {width: calc(100% - 32px);}
}
@media (max-width: 848px) and (min-width: 768px) {
    main {width: calc(100% - 48px);}
}
@media (max-width: 667px) and (min-width: 576px) {
    main {width: calc(100% - 36px);}
}
@media (max-width: 575px){
    main {
        width: calc(100% - 24px);
        padding-top: 2em;
    }
}


.mb-6 {margin-bottom: 6em;}
@media (max-width: 575px){
    .mb-6 {margin-bottom: 4em;}
}


.round-icon {
    background-color: var(--powder);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.round-icon:hover {background-color:#D7AF87;}
.round-icon:active {background-color:#C9AF96;}
.round-icon img {
    width: 1.25em;
    height: 1.25em;
}

img.icon {
    width: 1.5em;
    height: 1.5em;
}

.color-1-5 {background-color: var(--color-1-5);}
.color-6-12 {background-color: var(--color-6-12);}
.color-13-20 {background-color: var(--color-13-20);}


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}


.flex-1 {flex: 1;}


/************
CUSTOM SELECT
************/
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.custom-select {
    position: relative;
    width: 85px;
}
.custom-select button {
    width: 100%;
    border-radius: 0px;
    border: 1px solid var(--lightengray);
    text-align: left;
    padding: .7em 1.5em .7em 1em;
    background: url(../img/icons/down.svg) no-repeat;
    background-color: var(--coolwhite);
    background-position: calc(100% - .5em) 55%;
    background-size: 1.25em 1.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cs-options {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    z-index: 100;
    width: 100%;
    display: none;
    border: 1px solid var(--lightengray);
    background-color: var(--coolwhite);
    max-height: 300px;
    overflow-y: scroll;
}
.cs-options::-webkit-scrollbar {width: 0;}
.cs-options.opened {display: block;}



/* checkbox for select customization */ 
.cs-options .radio:not(:last-child) {
    position: relative;
    border-bottom: 1px solid var(--lightengray);
}
.cs-options .radio label {
    position: relative;
    z-index: 1;
    padding: .7em 1em;
    transition: .2s;
    line-height: 1.2em;
    display: block;
    width: 100%;
    background-color: var(--coolwhite);
}
.cs-options .radio label img, .custom-select button img {
    width: 20px;
    height: 15px;
    object-fit: contain;
}

.cs-options .radio input[type="radio"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    box-shadow: none;
    border: none;
    outline: none;
}
.cs-options .radio input[type="radio"]:hover ~ label,
.cs-options .radio input[type="radio"]:checked ~ label  {
    background-color: var(--warmwhite);
}

.ml-12 {margin-left: 12px;}