header {
    border-top: 4px solid var(--gold);
    background-color: var(--coolwhite);
}
.count {
    /* position: absolute;
    top: 80%;
    right: calc(100% - 5px); */
    color: var(--coolwhite);
    background-color: var(--powder);
    font-size: .7em;
    font-weight: 500;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#sec-1 {
    background-image: linear-gradient(to top, var(--color-6-12) 0px 150px, transparent 150px);
}


/* section 2 */
#sec-2 {
    padding-top: 10em;
    padding-bottom: 10em;
}


/* section 3 */
.grass {
    background-color: var(--warmwhite);
    padding: 7em 4em 4em;
    text-align: center;
    margin-top: 6em;
    height: calc(100% - 6em);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grass img {
    position: absolute;
    top: -6em;
    left: 50%;
    transform: translateX(-50%);
}
.swiper-main, .swiper-thumbs {
    position: relative;
    overflow: hidden;
}
.swiper-main .swiper-slide {opacity: 0 !important;}
.swiper-main .swiper-slide-active {opacity: 1 !important;}
.swiper-main .swiper-slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.swiper-main .swiper-slide .text {
    background-color: var(--warmwhite);
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.thumb {
    position: relative;
}
.thumb img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.thumb>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-family: 'Source Serif Pro', serif;
    color: var(--coolwhite);
    font-size: 1.8em;
    font-style: italic;
    background-image: linear-gradient(107.23deg, rgba(43, 43, 43, 0.4), transparent);
    background-size: cover;
    padding: .5em 0 0 .5em;
}
/* .swiper-thumbs .swiper-slide-active .thumb>div {
    background-image: linear-gradient(107.23deg, rgba(43, 43, 43, 0.8), transparent);
    background-size: cover;
} */


/* section 4 */
.item .box {
    border: 1px solid var(--gold);
    position: relative;
}
.item .box img {
    height: 330px;
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
.item .box .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(43 43 43 / 80%);
    color: var(--coolwhite);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4em 3em 2em;
    opacity: 0;
    transition: opacity .4s ease-out;
}
.item .box:hover .text {opacity: 1;}
.item .box .sticker {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 65px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.color-1-5 {background-color: var(--color-1-5);}
.color-6-12 {background-color: var(--color-6-12);}
.color-13-20 {background-color: var(--color-13-20);}
.old-price {
    color: var(--lightengray);
    text-decoration: line-through;
}


/* section 5 */
#sec-5 video {
    width: 100%;
    height: 650px;
    object-fit: cover;
}
#sec-5 video:-ms-fullscreen,
#sec-5 video:-moz-full-screen,
#sec-5 video:-webkit-full-screen,
#sec-5 video:fullscreen {
    object-fit: contain;
}

/* section 6 */
#sec-6 {
    background-color: var(--color-1-5);
    background-image: linear-gradient(to right, var(--lightbrown), var(--lightbrown));
    background-size: calc(50% - 233px) 100%;
    background-repeat: no-repeat;
}
#sec-6 hr {
    height: 2px;
    width: 105%;
    background-color: var(--gold);
    opacity: 1;
    border: none;
    margin: 2.5em 0 0;
}
#sec-6 ol {
    list-style-type: none; 
    counter-reset: num;
}
#sec-6 ol>li {margin-bottom: 2em;}
#sec-6 ol>li:last-child {margin-bottom: 0px;}
#sec-6 ol>li::before {
    content: counter(num); 
    counter-increment: num; 
    color: var(--powder);
    font-size: 1.5em;
    margin-right: .5em;
    font-family: 'Felix Titling';
    width: 1.4em;
    display: inline-block;
}
#sec-6 ol>li:nth-child(-n+9):before {
	content: "0" counter(num);
}


/* section 7 */
.swiper-reviews {
    overflow: hidden;
}
.swiper-reviews .swiper-button-prev:after,
.swiper-reviews .swiper-button-next:after {
    content:unset
}
.swiper-reviews .swiper-button-prev,
.swiper-reviews .swiper-button-next {
    top: 25%;
    width: 4.75em;
    margin: 0;
    height: fit-content;
}
.swiper-reviews .swiper-button-prev img,
.swiper-reviews .swiper-button-next img {
    width: 100%;
}
.swiper-reviews .swiper-button-prev {
    left: unset;
    right: calc(100% + 2em);
}
.swiper-reviews .swiper-button-next {
    right: unset;
    left: calc(100% + 2em);
}
.review {
    display: flex;
    align-items: flex-start;
}
.review img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 3em;
}
.review>div {
    margin-top: 1em;
    position: relative;
}
.review>div::before {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    right: 101%;
    bottom: 100%;
    width: 1.3em;
    height: 1em;
    background: url(../img/icons/quote.svg) no-repeat center;
    background-size: contain;
}
.review .text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--gray);
    font-style: italic;
    line-height: 1.2em;
    height: 8.4em;
}


/* section 8 */
#sec-8 {
    background-color: var(--warmwhite);
}
.photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 1px solid var(--gold);
}


/* section 9 */
#sec-9 form {
    background-color: var(--lightbrown);
    height: 100%;
    padding: 0 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer {
    background-color: var(--color-1-5);
}
footer nav {
    border-bottom: 1px solid var(--gold);
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
}
/* footer nav a {} */

.developers {
    display: flex;
    align-items: center;
    text-align: right;
}
.developers img {
    width: 60px;
    margin-left: 10px;
}