header {
    border-top: 4px solid var(--gold);
    background-color: var(--coolwhite);
    position: relative;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
header>div.container {
    padding-top: 2em;
}
header.h-sticky {
    box-shadow: 0px 2px 6px 0px var(--lightbrown);
    border-top: none;
}
header.h-sticky>div.container {
    padding: 0;
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.h-grid-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.h-grid-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.h-grid-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.h-grid-4 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .h-grid-4-2 {display: none;} */
.h-grid-5 {
    display: none;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: flex-start;
    align-items: center;
}
.h-grid-6 {
    display: none;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
header.h-sticky .header-grid {
    grid-template-columns: 115px 45px auto 190px;
    grid-template-rows: repeat(1, 1fr);
    height: 4em;
}
header.h-sticky .header-grid .h-grid-1,
header.h-sticky .header-grid .h-grid-2 {display: none;}
header.h-sticky .header-grid .h-grid-3 {
    grid-column: 4 / 5;
}
header.h-sticky .header-grid .h-grid-3>div {height: 100%;}
header.h-sticky .header-grid .h-grid-4 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
header.h-sticky .header-grid .h-grid-5,
header.h-sticky .header-grid .h-grid-6 {
    display: flex;
    align-items: center;
}

header .dropdown-toggle::after {
    content: unset;
}
header .dropdown-menu {
    border: 1px solid var(--powder);
    padding: .5em 1em;
}
header .dropdown-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
header .dropdown-menu ul a {
    padding: .25em 0;
}

.logo-img {
    max-width: 100%;
}

.simple-link {
    color: var(--lightengray);
    transition: .3s;
}
.simple-link.active {
    color: var(--lightgray);
}
.simple-link:hover, .simple-link:active {color: var(--powder);}

.count {
    color: var(--coolwhite);
    background-color: var(--powder);
    font-size: .7em;
    font-weight: 500;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
header nav {
    width: 100%;
    height: 100%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 0;
    height: 100%;
}
header nav ul a {
    color: var(--lightgray);
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: .3s;
    letter-spacing: .1em;
    height: 100%;
}
header nav ul a svg {
    width: 1em;
    height: .6em;
    margin-left: .5em;
}
header nav ul a svg path {
    stroke: var(--lightgray);
    stroke-width: 1.375px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transition: .3s;
}
header nav ul a:hover, header nav ul a:focus, header nav ul a:active {
    color: var(--powder);
}
header nav ul a:hover svg path,
header nav ul a:focus svg path, 
header nav ul a:active svg path {
    stroke: var(--powder);
}
header.h-sticky .floating {display: none;}

.gamburger {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamburger svg {
    width: 2em;
    height: 2em;
    fill: none;
}
.gamburger svg path {
    stroke: var(--powder);
    stroke-width: 2px;
    stroke-miterlimit: 10;
    stroke-linecap: round;
}
.gamburger:hover svg path {stroke: var(--gold);}
.gamburger:active svg path {stroke: #C9AF96;}

.head-btn-svg {
    display: flex;
    align-items: center;
}
.head-btn-svg svg {
    width: 1.5em;
    height: 1.5em;
}
.head-btn-svg svg path {
    stroke: var(--lightgray);
}
.head-btn-svg:hover svg path,
.head-btn-svg:focus svg path,
.head-btn-svg:active svg path {
    stroke: var(--powder);
    transition: .3s;
}

.submenu {
    display: none;
    position: absolute;
    top: calc(100% + 2em);
    left: 0px;
    width: 100%;
    background-color: var(--coolwhite);
    padding: 2em 3.5em;
    border: 1px solid var(--gold);
    opacity: 0;
}
.sm-visible {
    top: 100%;
    opacity: 1;
}
.submenu .title {
    height: 3em;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.submenu .type-1 .title {
    background-color: var(--color-1-5);
}
.submenu .type-2 .title {
    background-color: var(--color-6-12);
}
.submenu .type-3 .title {
    background-color: var(--color-13-20);
}

.submenu .ribbon::before {
    content: "";
    position: absolute;
    top: 0;
    border-top: 1.5em solid transparent;
}
.submenu .type-1 .ribbon::before {
    right: 100%;
    border-right: 1em solid var(--color-1-5);
    border-bottom: 1.5em solid var(--color-1-5);
    border-left: 1em solid transparent;
}
.submenu .type-3 .ribbon::before {
    left: 100%;
    border-right: 1em solid transparent;
    border-bottom: 1.5em solid var(--color-13-20);
    border-left: 1em solid var(--color-13-20);
}

.submenu .item {
    text-align: center;
    padding: .5em;
    display: block;
    transition: .2s;
}
.submenu .type-1 .item:hover {
    background-color: var(--color-1-5);
    color: var(--powder);
}
.submenu .type-2 .item:hover {
    background-color: var(--color-6-12);
    color: var(--powder);
}
.submenu .type-3 .item:hover {
    background-color: var(--color-13-20);
    color: var(--powder);
}

#submenu-advantages figure {
    margin-bottom: 1em;
}
#submenu-advantages figure img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
#submenu-advantages figure figcaption {
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    text-align: center;
}
#submenu-advantages figure figcaption a {transition: .3s;}
#submenu-advantages figure figcaption a:hover,
#submenu-advantages figure figcaption a:focus,
#submenu-advantages figure figcaption a:active {
    color: var(--powder);
}

@media (max-width: 1199px){
    header.h-sticky .header-grid {grid-template-columns: 100px 45px auto 150px;}
    header.h-sticky nav ul a {font-size: .8em;}
    .submenu {padding: 1em 2em;}
}
@media (max-width: 991px){
    #btn-menu {
        pointer-events: auto;
        cursor: pointer;
    }
    .header-grid, header.h-sticky .header-grid {
        grid-template-columns: 150px 60px auto auto;
        grid-template-rows: repeat(1, 1fr);
    }
    .h-grid-1 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .h-grid-2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding-right: 2em;
    }
    .h-grid-3 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .h-grid-4, header.h-sticky .h-grid-4 {display: none;}
    /* .h-grid-5 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
    } */
    .h-grid-6 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
    }
    header.h-sticky .h-grid-1 {display: none;}
}
@media (max-width: 767px){
    header {
        border-top: none;
        border-bottom: 2px solid var(--gold);
        margin-bottom: calc(60px + 1em);
    }
    header>div.container {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .header-grid, header.h-sticky .header-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(1, auto);
        height: auto;
    }
    header.h-sticky>div.container {padding: 1em;}
    .h-grid-1 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    header.h-sticky .h-grid-1 {display: none;}
    header.h-sticky .h-grid-5 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .h-grid-3, header.h-sticky .header-grid .h-grid-3 {
        grid-column: 4 / 7;
        grid-row: 1 / 2;
        justify-content: center;
    }
    .h-grid-6, header.h-sticky .header-grid .h-grid-6 {
        grid-column: 7 / 9;
        grid-row: 1 / 2;
        justify-content: flex-end;
    }
    .h-grid-2 {
        position: absolute;
        top: calc(100% + 1em);
        left: 50%;
        padding-right: 0;
        transform: translateX(-50%);
    }
    header.h-sticky .h-grid-2 {display: none;}
    .logo-img {max-height: 60px;}
    .gamburger svg path {stroke: var(--deepgray);}
    .gamburger:hover svg path {stroke: var(--powder);}
    .gamburger:active svg path {stroke: var(--gold);}
}
@media (max-width: 575px){
    header.h-sticky {padding: 0 12px;}
    /* .header-grid, header.h-sticky .header-grid {grid-template-columns: 100px 45px auto auto;} */
}





#nav-sticky {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--coolwhite);
    z-index: 1000;
    box-shadow: 0px 2px 6px 0px var(--lightbrown);
}
#nav-sticky nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nav-sticky nav ul a {
    color: var(--lightgray);
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: .3s;
}
#nav-sticky nav ul a svg {
    width: 14px;
    height: 8px;
    margin-left: .5em;
}
#nav-sticky nav ul a svg path {
    stroke: var(--lightgray);
    stroke-width: 1.375px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transition: .3s;
}
#nav-sticky nav ul a:hover, 
#nav-sticky nav ul a:focus, 
#nav-sticky nav ul a:active {
    color: var(--powder);
}
#nav-sticky nav ul a:hover svg path,
#nav-sticky nav ul a:focus svg path, 
#nav-sticky nav ul a:active svg path {
    stroke: var(--powder);
}


#shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 20%);
    opacity: 0;
    z-index: -10;
}




/* section 1 */
.swiper-parfume {
    position: relative;
    overflow: hidden;
}
.swiper-parfume .swiper-slide {
    position: relative;
    opacity: 0 !important;
}
.swiper-parfume .swiper-slide-active {opacity: 1 !important;}
.parfume-color-1, .parfume-color-2, .parfume-color-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 0;
}
.parfume-color-1 {
    background-color: var(--color-1-5);
}
.parfume-color-2 {
    background-color: var(--color-6-12);
}
.parfume-color-3 {
    background-color: var(--color-13-20);
}
.main-parfume {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-parfume img {
    height: 450px;
    padding: 2em .5em 75px;
}
@media (max-width: 1199px){
    .parfume-color-1, .parfume-color-2, .parfume-color-3 {height: 100px;}
    .main-parfume img {
        height: 400px;
        padding: 2em .5em 50px;
    }
}
@media (max-width: 991px){
    .main-parfume img {height: 350px;}
}
@media (max-width: 767px){
    .parfume-color-1, .parfume-color-2, .parfume-color-3 {height: 70px;}
    .main-parfume img {
        height: 270px;
        padding: 1em .5em 35px;
    }
}
@media (max-width: 575px){
    .parfume-color-1, .parfume-color-2, .parfume-color-3 {height: 40px;}
    .main-parfume img {
        height: 40vw;
        padding: 1em .5em 20px;
    }
}



/* section 3 */
.grass {
    background-color: var(--warmwhite);
    padding: 7em 3em 4em;
    text-align: center;
    margin-top: 6em;
    height: calc(100% - 6em);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grass img {
    position: absolute;
    top: -6em;
    left: 50%;
    transform: translateX(-50%);
}
.swiper-main, .swiper-thumbs {
    position: relative;
    overflow: hidden;
}
.swiper-main .swiper-slide {opacity: 0 !important;}
.swiper-main .swiper-slide-active {opacity: 1 !important;}
.swiper-main .swiper-slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.swiper-main .swiper-slide .text {
    background-color: var(--warmwhite);
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.thumb {position: relative;}
.thumb img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 135px;
    object-fit: cover;
}
.thumb>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-family: 'Source Serif Pro', serif;
    color: var(--coolwhite);
    font-size: 1.8em;
    font-style: italic;
    background-image: linear-gradient(107.23deg, rgba(43, 43, 43, 0.4), transparent);
    background-size: cover;
    padding: .5em 0 0 .5em;
}
.thumb>div:hover {
    background-image: linear-gradient(107.23deg, rgba(43, 43, 43, 0.8), transparent);
    background-size: cover;
}
@media (max-width: 1199px){
    .swiper-main .swiper-slide img {height: 430px;}
    .swiper-main .swiper-slide .text {padding: 2em;}
    .thumb img {height: 110px;}
    .grass {padding: 6em 2em 2em;}
    .grass img {max-width: 60%;}
}
@media (max-width: 991px){
    .thumb img {height: 125px;}
    .grass {padding: 8em 2em 2em;}
    .grass img {top: -7em;}
}
@media (max-width: 767px){
    .swiper-main .swiper-slide img {height: 325px;}
    .swiper-main .swiper-slide .text {
        padding: 1em;
        font-size: 12px;
    }
    .thumb img {height: 80px;}
    .thumb>div {font-size: 1.25em;}
    .grass img {top: -8em;}
}
@media (max-width: 575px){
    .swiper-main .swiper-slide img {height: 90vw;}
    .thumb img {height: 25vw;}
    .grass {
        margin-top: 7em;
        padding: 9.5em 2em 2em;
    }
}


/* section 4 */
.item .box {
    border: 1px solid var(--gold);
    background-color: var(--coolwhite);
    position: relative;
    padding: 2em;
}
.item .box img {
    height: 270px;
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
.item .box .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(43 43 43 / 60%);
    color: var(--coolwhite);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4em 2em 2em;
    opacity: 0;
    transition: opacity .4s ease-out;
}
.item .box:hover .text {opacity: 1;}
.item .box .text .fav-btn {font-size: .8em;}
.item .box .sticker {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 65px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.old-price {
    color: var(--lightengray);
    text-decoration: line-through;
}
@media (max-width: 1199px){
    .item .box img {height: 210px;}
    .item .box .sticker {
        width: 70px;
        height: 55px;
    }
    .item .box .text {padding: 3em 1em 1em;}
}
@media (max-width: 575px){
    .item .box {padding: 1em;}
    .item .box img {height: 45vw;}
    .item .box .sticker {
        width: 55px;
        height: 40px;
    }
    .item .btn_main img {
        width: 1.5em;
    }
    .item .box .text {
        padding: 3em 0em 0em;
        font-size: 10px;
    }
}


/* section 5 */
#sec-5 svg {
    width: 100%;
    height: auto;
}
.anim {animation: reduce_radius 2s infinite cubic-bezier(0.08, 0.39, 0.2, 1);}
@keyframes reduce_radius {
    from {r: 18;}
    50% {r: 10;}
    to {r: 18;}
}

.element-animation {
    overflow: hidden;
    height: fit-content;
    width: 0%;
    opacity: 0;
    transform-origin: center left;
    transition: width 2s cubic-bezier(.25, .8, .25, 1), opacity 2s cubic-bezier(.25, .8, .25, 1) .25s;
}
.element-animation h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.element-animation.element-show {
    opacity: 1;
    width: 100%;
}

.video-box {
    width: 100%;
    height: 600px;
    position: relative;
}
.video-box iframe {
    width: 100%;
    height: 100%;
    position: relative;
}
.cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(83 83 83 / 65%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#play {
    background-color: var(--coolwhite);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#play::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--coolwhite);
    opacity: 50%;
    z-index: 1;
    transition: all .2s cubic-bezier(0.08, 0.39, 0.2, 1);
}
#play img {
    position: relative;
    z-index: 2;
    width: 1.375em;
    height: 1.375em;
    margin-right: -.3em;
    transition: all .4s cubic-bezier(0.08, 0.39, 0.2, 1);
}
#play:hover::after {transform: scale(1.5);}
#play:hover img {transform: scale(1.3);}

#sec-5 video {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
#sec-5 video:-ms-fullscreen,
#sec-5 video:-moz-full-screen,
#sec-5 video:-webkit-full-screen,
#sec-5 video:fullscreen {object-fit: contain;}

@media (max-width: 1199px){
    .video-box, #sec-5 video {height: 550px;}
}
@media (max-width: 991px){
    .video-box, #sec-5 video {height: 450px;}
}
@media (max-width: 767px){
    .video-box, #sec-5 video {height: 300px;}
}
@media (max-width: 575px){
    .video-box, #sec-5 video {height: 65vw;}
}


/* section 6 */
#sec-6 {
    background-color: var(--color-1-5);
    background-image: linear-gradient(to right, var(--lightbrown), var(--lightbrown));
    background-size: calc(50% - 200px) 100%;
    background-repeat: no-repeat;
}
#sec-6 hr {
    height: 2px;
    width: 105%;
    background-color: var(--gold);
    opacity: 1;
    border: none;
    margin: 2.5em 0 0;
}
#sec-6 ol {
    list-style-type: none; 
    counter-reset: num;
    padding-left: 0px;
}
#sec-6 ol>li {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
#sec-6 ol>li:last-child {margin-bottom: 0px;}
#sec-6 ol>li::before {
    content: counter(num); 
    counter-increment: num; 
    color: var(--powder);
    font-size: 1.5em;
    margin-right: .5em;
    font-family: 'Felix Titling';
    width: 1.4em;
    display: inline-block;
}
#sec-6 ol>li:nth-child(-n+9):before {
	content: "0" counter(num);
}
/* @media (max-width: 1399px){
    #sec-6 {background-size: calc(50% - 200px) 100%;}
} */
@media (max-width: 1199px){
    #sec-6 {background-size: calc(50% - 165px) 100%;}
    #sec-6 ol>li {margin-bottom: 1em;}
    #sec-6 .f_15 {font-size: 1.3em;}
}
@media (max-width: 991px){
    #sec-6 {background-size: calc(50% - 128px) 100%;}
}
@media (max-width: 767px){
    #sec-6 {background-image: none;}
}


/* section 7 */
.swiper-reviews {overflow: hidden;}
.swiper-button-prev:after,
.swiper-button-next:after {content:unset}
.swiper-reviews .swiper-button-prev,
.swiper-reviews .swiper-button-next {
    top: 25%;
    width: 4.75em;
    margin: 0;
    height: fit-content;
}
.swiper-reviews .swiper-button-prev img,
.swiper-reviews .swiper-button-next img {
    width: 100%;
}
.swiper-reviews .swiper-button-prev {
    left: unset;
    right: calc(100% + 2em);
}
.swiper-reviews .swiper-button-next {
    right: unset;
    left: calc(100% + 2em);
}
.review {
    display: flex;
    align-items: flex-start;
}
.review img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 3em;
}
.review>div {
    margin-top: 1em;
    position: relative;
}
.review>div::before {
    content: "";
    position: absolute;
    right: 101%;
    bottom: 100%;
    width: 1.3em;
    height: 1em;
    background: url(../img/icons/quote.svg) no-repeat center;
    background-size: contain;
}
.review .text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--gray);
    font-style: italic;
    line-height: 1.2em;
    height: 8.4em;
}
@media (max-width: 1599px){
    .swiper-reviews .swiper-button-prev,
    .swiper-reviews .swiper-button-next {
        top: unset;
        bottom: 0;
    }
    .swiper-reviews .swiper-button-prev {
        right: unset;
        left: 0px;
    }
    .swiper-reviews .swiper-button-next {
        left: unset;
        right: 0px;
    }
}
@media (max-width: 1199px){
    .review img {
        width: 80px;
        height: 80px;
        margin-right: 2.5em;
    }
}
@media (max-width: 991px){
    .review .text {
        -webkit-line-clamp: 6;
        line-height: 1.25em;
        height: 7.5em;
    }
    .review img {
        width: 60px;
        height: 60px;
        margin-right: 2em;
    }
    .swiper-reviews .swiper-button-prev, .swiper-reviews .swiper-button-next {
        width: 4em;
    }
}
@media (max-width: 575px){
    .review img {
        width: 50px;
        height: 50px;
    }
}


/* section 8 */
#sec-8 {
    background-color: var(--warmwhite);
}
.photo {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 1px solid var(--gold);
}
/* @media (max-width: 1399px){
    .photo {height: 350px;}
} */
@media (max-width: 1199px){
    .photo {height: 300px;}
}
@media (max-width: 991px){
    .photo {height: 215px;}
}
@media (max-width: 767px){
    .photo {height: 140px;}
}
@media (max-width: 767px){
    .photo {height: 26vw;}
}


/* section 9 */
#sec-9 form {
    background-color: var(--lightbrown);
    height: 100%;
    padding: 0 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 991px){
    #sec-9 form {padding: 0 2em;}
}
@media (max-width: 767px){
    #sec-9 form {padding: 2em;}
}
@media (max-width: 767px){
    #sec-9 form {padding: 1em;}
}


/* section 10 */
.swiper-1 {
    position: relative;
    overflow: hidden;
}
.swiper-1::after {
    content: "";
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    width: calc(100% - 3em);
    height: calc(100% - 3em);
    border: 1px solid var(--gold);
    z-index: 2;
}
.swiper-1 .swiper-button-prev,
.swiper-1 .swiper-button-next {
    top: unset;
    bottom: 3em;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--powder);
    display: flex;
    justify-content: center;
    align-items: center;
    left: unset;
}
.swiper-1 .swiper-button-prev:hover,
.swiper-1 .swiper-button-next:hover,
.swiper-1 .swiper-button-prev:focus,
.swiper-1 .swiper-button-next:focus {
    background-color: #D7AF87;
}
.swiper-1 .swiper-button-prev:active,
.swiper-1 .swiper-button-next:active {
    background-color:#C9AF96;
}
.swiper-1 .swiper-button-next {
    right: 3em;
}
.swiper-1 .swiper-button-prev {
    right: 6.5em;
}
.swiper-1 .swiper-button-prev img,
.swiper-1 .swiper-button-next img {
    width: 1.5em;
    height: 1.5em;
}
.swiper-1 .swiper-slide {
    position: relative;
    z-index: 1;
    opacity: 0 !important;
}
.swiper-1 .swiper-slide-active {opacity: 1 !important;}
.swiper-1 .swiper-slide img {
    width: 100%;
    height: 560px;
    object-fit: cover;
}

.categorie-cover {
    position: relative;
}
.categorie-cover img {
    position: relative;
    width: 100%;
    height: 560px;
    object-fit: cover;
    z-index: 1;
}
.categorie-cover .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 43, 34, 0.3);
    z-index: 2;
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.categorie-cover::after {
    content: "";
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    width: calc(100% - 3em);
    height: calc(100% - 3em);
    border: 1px solid var(--gold);
    z-index: 3;
}

.product-cover {position: relative;}
.product-cover img {
    position: relative;
    width: 100%;
    height: 168px;
    object-fit: cover;
    object-position: center top;
    z-index: 1;
}
.product-cover .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 43, 34, 0.3);
    z-index: 2;
}

@media (max-width: 1199px){
    .swiper-1 .swiper-slide img, .categorie-cover img {height: 480px;}
}
@media (max-width: 991px){
    .swiper-1 .swiper-slide img, .categorie-cover img {height: 370px;}
}
@media (max-width: 767px){
    .swiper-1 .swiper-slide img, .categorie-cover img {height: 270px;}
}
@media (max-width: 575px){
    .swiper-1 .swiper-slide img, .categorie-cover img {height: 45vw;}
    .swiper-1::after, .categorie-cover::after {
        top: .5em;
        left: .5em;
        width: calc(100% - 1em);
        height: calc(100% - 1em);
    }
    .swiper-1 .swiper-button-prev, .swiper-1 .swiper-button-next {
        bottom: 1em;
    }
    .swiper-1 .swiper-button-next {
        right: 1em;
    }
    .swiper-1 .swiper-button-prev {
        right: 4.5em;
    }
    .categorie-cover .text {padding: 1em;}
}



/* section 12 */
nav ol.breadcrumb {
    display: flex;
    margin-bottom: 2em;
}
nav ol.breadcrumb .breadcrumb-item a {color: var(--lightengray);}
nav ol.breadcrumb .breadcrumb-item:last-child a {
    color: var(--powder);
    pointer-events: none;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    color: var(--lightgray);
}

.filter {
    padding: 1.5em 0;
    border-top: 1px solid var(--lightengray);
    border-bottom: 1px solid var(--lightengray);
}
.filter fieldset:not(:last-child){margin-bottom: 1em;}
fieldset legend {
    float: unset;
    margin-bottom: 0;
    font-size: 1em;
}
.filter fieldset legend {
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}
.filter fieldset .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}
.filter fieldset .head .btn-clear {display: flex;}
.filter fieldset .options {padding: 0 1em;}
.btn-toggle {
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
}
.btn-toggle[aria-expanded="true"] {
    background: url(../img/icons/minus.svg) no-repeat center;
}
.btn-toggle[aria-expanded="false"] {
    background: url(../img/icons/plus.svg) no-repeat center;
}
.btn-clear-all {
    color: var(--powder);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9em;
    font-weight: 500;
}
.btn-clear svg, .btn-clear-all svg {
    width: 20px;
    height: 20px;
}
.btn-clear svg path, .btn-clear-all svg path {
    stroke: var(--powder);
    stroke-width: 1.25px;
    stroke-linecap: round;
    stroke-linejoin: round;
}
#btn-filter-toggle {align-items: center;}
#btn-filter-toggle::after {
    margin-left: 1em;
    height: 24px;
}
#btn-filter-toggle[data-state="closed"]::after {
    content: url(../img/icons/plus.svg);
}
#btn-filter-toggle[data-state="opened"]::after {
    content: url(../img/icons/minus.svg);
}
@media (max-width: 767px){
    .filter {display: none;}
}

.item.item-full .text {
    color: var(--gray);
    text-align: center;
    font-size: .9em;
    padding: .75em;
    margin-top: 1em;
}
.item.item-full .btn_icon {
    position: absolute;
    top: .5em;
    left: .5em;
    z-index: 3;
}


/* section 13 */
#sec-13 {
    background-color:#F8F5F0;
}


/* section 14 */
.product-card hr {
    width: 100%;
    height: 1px;
    background-color: var(--gold);
    border: none;
    margin: 0 0 5em;
    opacity: 1;
}
.swiper-product-main, .swiper-product-thumbs {
    position: relative;
    overflow: hidden;
}
.swiper-product-main .swiper-slide img {
    width: 100%;
    height: 600px;
    object-fit: contain;
    object-position: center;
    padding: 4em;
}
.swiper-product-thumbs {
    width: 460px;
    margin: 0 auto;
}
.swiper-product-thumbs .swiper-slide img {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    border: 1px solid var(--lightpowder);
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;
}
.swiper-product-thumbs .swiper-slide.swiper-slide-active img {
    border: 1px solid var(--gold);
}

.product-card ul.list {
    list-style: none;
    padding-left: 2em;
    color: var(--lightgray);
}
.product-card ul.list li:not(:last-child) {margin-bottom: 1em;}
.product-card ul.list li {position: relative;}
.product-card ul.list li::before{
    content: "";
    position: absolute;
    top: -.1em;
    left: -2.25em;
    width: 1.75em;
    height: 1.5em;
    background: url(../img/icons/leaf.svg) no-repeat center;
    background-size: contain;
}

.nav-tabs {
    border: 1px solid var(--gold);
    padding: 0;
}
.product-card .nav-tabs .nav-item {width: 50%;}
.product-card .nav-tabs .nav-item:not(:first-child){
    border-left: 1px solid var(--gold);
}
.product-card .nav-tabs .nav-item .nav-link {
    border: none;
    background-color: transparent;
    color: var(--gray);
    margin-bottom: 0px;
    font-size: 1.2em;
    padding: .75em 1em;
    width: 100%;
    text-align: center;
    transition: .2s;
}
.product-card .nav-tabs .nav-item .nav-link.active {
    background-color: var(--color-1-5);
}
@media (max-width: 1199px){
    .product-card hr {margin-bottom: 4em;}
    .swiper-product-main .swiper-slide img {height: 500px;}
    .swiper-product-thumbs {width: 100%;}
    .swiper-product-thumbs .swiper-slide img {
        width: 100%;
    }
}
@media (max-width: 991px){
    .product-card hr {margin-bottom: 3em;}
    .swiper-product-main .swiper-slide img {
        height: 400px;
        padding: 2em;
    }
    .swiper-product-thumbs .swiper-slide img {
        height: 100px;
    }
}
@media (max-width: 767px){
    .product-card hr {margin-bottom: 2em;}
    .swiper-product-thumbs {width: 460px;}
    .swiper-product-thumbs .swiper-slide img {
        width: 136px;
        height: 136px;
    }
}
@media (max-width: 575px){
    .product-card hr {margin-bottom: 1.5em;}
    .swiper-product-main .swiper-slide img {
        height: 100vw;
        padding: 2em;
    }
    .swiper-product-thumbs {width: 100%;}
    .swiper-product-thumbs .swiper-slide img {
        width: 100%;
        height: 27vw;
    }
}



/* section 15 */
.shopping-cart table thead {
    border-bottom: 1px solid var(--warmwhite);
}
.shopping-cart table thead th {
    color: var(--gray);
    font-weight: 400;
    white-space: nowrap;
}
.shopping-cart table td {
    vertical-align: middle;
    white-space: nowrap;
}
.shopping-cart .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.shopping-cart .item img {
    width: 70px;
    height: 110px;
    padding: 1em;
    object-fit: contain;
}
.shopping-cart table input[type="number"]{
    border: none;
    padding: 0;
    min-width: 40px;
    max-width: 60px;
    text-align: center;
    -moz-appearance: textfield;
    color: var(--gray);
    font-size: 1.1em;
}
.shopping-cart input[type="number"]::-webkit-outer-spin-button,
.shopping-cart input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.shopping-cart input[type="number"]:hover,
.shopping-cart input[type="number"]:focus {
  -moz-appearance: number-input;
}
.shopping-cart .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    border-top: 1px solid var(--gold);
    border-bottom: 1px solid var(--gold);
}
.shopping-cart .total input {max-width: 260px;}


.shopping-cart .cart-product {
    display: grid;
    grid-template-columns: 70px auto 180px 160px 100px 100px;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 30px 30px;
    margin: 1em 0;
}
.shopping-cart .cart-product.head {
    border-bottom: 1px solid var(--warmwhite);
    color: var(--gray);
    padding: .5em 0px;
}
.shopping-cart .cart-product .img-prod, .shopping-cart .cart-product>img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.shopping-cart .cart-product .img-prod img, .shopping-cart .cart-product>img {
    width: 70px;
    height: 90px;
    padding: .5em;
    object-fit: contain;
    
}
.shopping-cart .cart-product .title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.shopping-cart .cart-product .title a{
    text-align: left;
    font-family: 'Brandon Grotesque';
    font-weight: 500;
    color: var(--powder);
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.shopping-cart .cart-product .price {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shopping-cart .cart-product .actual {
    font-size: 1.2em;
    color: black;
}
.shopping-cart .cart-product .old {
    font-size: 1.2em;
    color: var(--lightengray);
    text-decoration: line-through;
}

.shopping-cart .cart-product .inputs {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopping-cart .cart-product .inputs button img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.shopping-cart .cart-product .inputs input {
    border: none;
    padding: 0;
    min-width: 40px;
    max-width: 60px;
    text-align: center;
    -moz-appearance: textfield;
    color: var(--gray);
    font-size: 1.1em;
}

.shopping-cart .cart-product .sum {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopping-cart .cart-product .del {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.progress {
    height: 3px;
    background-color: var(--warmwhite);
    border-radius: 0px;
}
.progress-bar {background-color: var(--gold);}


.btn-toggle-2 {
    background-size: 1.3em 1.3em;
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    text-align: left;
    padding-right: 2em;
}
.btn-toggle-2[aria-expanded="true"] {
    background-image: url(../img/icons/up.svg);
}
.btn-toggle-2[aria-expanded="false"] {
    background-image: url(../img/icons/down.svg);
}

.inp-mini {
    max-width: 165px;
}

.shopping-cart .total-2 {
    border: 1px solid var(--gold);
    padding: 3em;
}

@media (max-width: 991px){
    .shopping-cart .total-2 {padding: 1em;}
    .shopping-cart .cart-product {
        grid-template-columns: 70px auto 130px 130px 80px 70px;
        grid-gap: 15px 15px;
    }
    .shopping-cart .cart-product .actual,
    .shopping-cart .cart-product .old {font-size: 1em;}
    .shopping-cart .cart-product .inputs button {
        width: 1.75em;
        height: 1.75em;
    }
}
@media (max-width: 767px){
    .shopping-cart .total input {max-width: 155px;}
    .shopping-cart .cart-product.head {display: none;}
    .shopping-cart .cart-product {
        grid-template-columns: 100px repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 5px 5px;
    }
    .shopping-cart .cart-product .img-prod {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
    .shopping-cart .cart-product .title {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        font-size: 1.2em;
    }
    .shopping-cart .cart-product .del {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }
    .shopping-cart .cart-product .inputs {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        justify-content: flex-start;
    }
    .shopping-cart .cart-product .price {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        align-items: flex-start;
    }
    .shopping-cart .cart-product .sum {
        grid-column: 4 / 6;
        grid-row: 2 / 4;
        align-items: flex-end;
        font-size: 1.2em;
    }
    .shopping-cart .cart-product .price .old{display: none;}
    .shopping-cart .cart-product .price .actual {color: var(--lightengray);}
    .shopping-cart .cart-product .price .actual::after {content: "/ ед.";}
    .shopping-cart .cart-product .img-prod img {
        width: 100px;
        height: 120px;
    }
}
@media (max-width: 575px){
    .shopping-cart .total {flex-wrap: wrap;}
    .shopping-cart .total h3 {
        width: calc(40% - .5em);
        font-size: 1.2em;
    }
    .shopping-cart .total input {width: 60%;}
    .shopping-cart .cart-product {grid-template-columns: 70px repeat(4, 1fr);}
    .shopping-cart .cart-product .del {font-size: 1.5em;}
    .shopping-cart .cart-product .img-prod img {
        width: 70px;
        height: 90px;
    }
    
}


/* section 16 */
#sec-16 figure {
    display: flex;
    align-items: flex-start;
}
#sec-16 figure img {
    width: calc(50% + 30px);
    height: 580px;
    object-fit: cover;
}
#sec-16 figure figcaption {
    margin-top: 5em;
    width: calc(50% + 0px);
    background-color: var(--color-6-12);
    padding: 6em;
    margin-left: -30px;
}
#sec-16 figure figcaption blockquote p {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 1.1em;
}
#sec-16 figure figcaption blockquote cite {
    font-size: 1.5em;
    font-family: 'Source Serif Pro', serif;
    display: block;
    text-align: right;
}
@media (max-width: 1199px){
    #sec-16 figure img {height: 490px;}
    #sec-16 figure figcaption {
        margin-top: 4em;
        padding: 4em;
    }
}
@media (max-width: 991px){
    #sec-16 figure img {
        height: 350px;
        width: 50%;
    }
    #sec-16 figure figcaption {
        margin-top: 0em;
        padding: 2em;
        width: 50%;
        margin-left: 0px;
    } 
    #sec-16 figure figcaption blockquote p{
        margin-bottom: 1em;
        font-size: 1em;
    }
}
@media (max-width: 767px){
    #sec-16 figure {flex-direction: column-reverse;}
    #sec-16 figure img {
        width: 100%;
        height: 500px;
    }
    #sec-16 figure figcaption {width: 100%;}
}
@media (max-width: 575px){
    #sec-16 figure img {height: 85vw;}
}


/* section 18 */
#shops-list {
    max-height: 310px;
    overflow: auto;
    font-size: .9em;
    color: var(--gray);
}
.map-block {position: relative;}
.map-block::before {content: unset;}
.map-block.not-active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgb(3 2 1 / 29%);
}
.map-box {
    position: relative;
    z-index: 1;
    height: 550px;
}

.map-markers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}
.marker {
    position: absolute;
    transform: translate(-50%, -100%);
}
.marker svg {
    width: 39px;
    height: 54px;
    fill: none;
}
.marker svg path.figure {
    fill: var(--brown);
    stroke: var(--brown);
    stroke-width: 2.83px;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.marker.active svg path.figure {
    fill: var(--gold);
    stroke: var(--gold);
}
.marker svg path.letter {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: var(--coolwhite);
}

.shop-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 200px;
    background-color: var(--warmwhite);
    z-index: 3;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

@media (max-width: 1199px){
    .map-box {height: 500px;}
    #shops-list {max-height: 265px;}
}
@media (max-width: 767px){
    .shop-info {
        width: 215px;
        height: 150px;
        padding: 1em 2em;
    }
    .map-box {height: 400px;}
}
@media (max-width: 575px){
    .map-box {
        height: 100vw;
    }
    .shop-info {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        height: auto;
    }
}


/* section 19 */
#sec-19 .bunny {
    width: 160px;
    height: 160px;
}


/* section 20 */
.quiz-page {width: 100%;}
.quiz-page img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.quiz-page>div {
    background-color: var(--warmwhite);
    padding: 3em;
}
.quiz-page .btn_main {
    min-width: 250px;
    max-width: 100%;
}
@media (max-width: 575px){
    .quiz-page img {height: 50vw;}
    .quiz-page .btn_main {min-width: 150px;}
    .quiz-page>div {padding: 1em;}
}



/* section 21 */
.user-card {
    border: 1px solid var(--gold);
    padding: 3em 2em;
}
.user-card table {
    border-collapse: separate;
    border-spacing: 0px 4px;
}
.user-card table tr td:first-child {
    padding-right: .5em;
}
.user-card table tr td:nth-child(2) {
    padding-left: .5em;
    border-left: 1px solid var(--lightengray);
}

#profileTabs.nav-tabs {
    display: flex;
    flex-direction: column;
    border: none;
    width: fit-content;
}
#profileTabs.nav-tabs .nav-item {margin-bottom: 1.5em;}
#profileTabs.nav-tabs .nav-link {
    border: none;
    color: var(--deepgray);
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 1px;
    padding: 0px;
    display: block;
    width: 100%;
    text-align: right;
}
#profileTabs.nav-tabs .nav-link.active {
    border: none;
    color: var(--powder);
    background-color: transparent;
}

#sec-21 .shopping-cart {
    border-bottom: 2px solid var(--warmwhite);
    padding: 3em 0;
}
#sec-21 .shopping-cart:first-child {
    border-top: 2px solid var(--warmwhite);
}
@media (max-width: 767px){
    #profileTabs.nav-tabs {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2em;
        background-color: var(--warmwhite);
    }
    #profileTabs.nav-tabs .nav-item {margin-bottom: 0;}
    #profileTabs.nav-tabs .nav-link {padding: .75em .5em;}
}
@media (max-width: 575px){
    .user-card {padding: 2em 1em;}
    #profileTabs.nav-tabs {flex-direction: column;}
    #profileTabs.nav-tabs .nav-link {text-align: left;}
}


/* section 22 */
/* common for articles */
article {
    height: 100%;
    background-color: var(--color-1-5);
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
article .text {
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4em;
}
article .text p, article .text span, article .text div {line-height: 1.4em;}
/* first article */
figure.big-art article {padding: 3em;}
figure.big-art article .text {
    font-size: 1.1em;
    -webkit-line-clamp: 14;
    height: 19.6em;
}
figure.big-art img {
    width: 100%;
    height: 540px;
    object-fit: cover;
    object-position: center top;
}
/* other articles */
figure.sm-art article {padding: 2em 1.5em;}
figure.sm-art article .text {
    font-size: .9em;
    -webkit-line-clamp: 12;
    height: 16.8em;
}
figure.sm-art img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    object-position: center top;
}
@media (max-width: 1199px){
    figure.big-art img {height: 500px;}
    figure.sm-art img {height: 310px;}
    figure.sm-art article {padding: 1.5em;}
}
@media (max-width: 991px){
    figure.big-art article {padding: 2em;}
    figure.big-art img {height: 390px;}
    figure.sm-art img {height: 230px;}
    figure.sm-art article {padding: 1em;}
    figure.sm-art article .text {
        -webkit-line-clamp: 10;
        height: 14em;
    }
}
@media (max-width: 767px){
    figure.big-art img, figure.sm-art img {height: 280px;}
    figure.big-art article .text {
        font-size: .9em;
        -webkit-line-clamp: 10;
        height: 14em;
    }
    figure.big-art article, figure.sm-art article {padding: 1.5em;}
}
@media (max-width: 575px){
    figure.big-art img, figure.sm-art img {height: 48vw;}
    figure.big-art article, figure.sm-art article {padding: 1em;}
    figure.big-art article .text, figure.sm-art article .text {
        -webkit-line-clamp: 8;
        height: 11.2em;
    }
}


footer {
    background-color: var(--color-1-5);
}
footer nav {
    border-bottom: 1px solid var(--gold);
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
}
.developers {
    display: flex;
    align-items: center;
    text-align: right;
}
.developers img {
    width: 60px;
    margin-left: 10px;
}


/* mobile menu */
.offcanvas-body {
    position: relative;
}
.offcanvas-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    overflow: auto;
}
#mobile-menu nav ul {
    list-style: none;
    padding: 0;
}
#mobile-menu nav ul a {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--lightgray);
    transition: .2s;
}
#mobile-menu nav ul li {
    margin-bottom: 1em;
}
#mobile-menu nav ul a:hover, #mobile-menu nav ul a:focus, #mobile-menu nav ul a:active {
    color: var(--powder);
}

.btn-close {
    position: absolute;
    top: .5em;
    right: .5em;
    color: var(--powder);
    font-size: 2em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    opacity: 1;
}
.btn-close svg {
    width: 2em;
    height: 2em;
}
.btn-close svg path {
    stroke: var(--gray);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: .2s;
}
.btn-close:hover svg path, .btn-close:focus svg path, .btn-close:active svg path {
    stroke: var(--red);
}

/* Modal window */
.modal-body {
    background-color: var(--coolwhite);
    padding: 3em;
    position: relative;
}
#myModal {
    background: url(../img/bg/bg-2.png) no-repeat center;
    background-size: cover;
}
#gift .modal-body {
    background: url(../img/bg/flower.svg) no-repeat center bottom #fff;
    padding: 1em;
}
.modal-body .box {
    background: url(../img/bg/bg-3.png) no-repeat center var(--coolwhite);
    background-size: 100% 100%;
    padding: 2.5em 3em;
}

.password {
    position: relative;
}
.password input {position: relative;}
.password button {
    position: absolute;
    bottom: 50%;
    right: 1em;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    transform: translateY(50%);
}
.password button[data-state="invisible"] {
  background: url(../img/icons/eye_closed.svg) no-repeat center;
  background-size: contain;
}
.password button[data-state="visible"] {
  background: url(../img/icons/eye_open.svg) no-repeat center;
  background-size: contain;
}
.password button img {width: 100%;}

.item-card {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.item-card .img {
    width: 110px;
    height: 140px;
    padding: 2px;
    margin-right: 1em;
}
.item-card .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--coolwhite);
    padding: .5em;
}
.item-card .text {
    flex: 1;
    padding: 1em 1.5em;
}
@media (min-width: 768px){
    .modal-dialog {max-width: 750px;}
    .modal-dialog.md-full-content {max-width: 720px;}
    #gift .modal-body {padding: 2em;}
}
@media (min-width: 992px){
    .modal-dialog.md-full-content {max-width: 960px;}
    #gift .modal-body {padding: 2em 4em;}
}
@media (min-width: 1200px){
    .modal-dialog.md-full-content {max-width: 1140px;}
    #gift .modal-body {padding: 3em 5em;}
}

@media (max-width: 767px){
    .btn-close {
        top: .2em;
        right: .2em;
    }
    .modal-body, .modal-body .box {padding: 2em;}
}
@media (max-width: 575px){
    .item-card .img {
        width: 55px;
        height: 70px;
    }
}