@font-face {
    font-family: 'Felix Titling';
    src: local('Felix Titling'), url('Felix Titling.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: local('Brandon Grotesque Medium'), local('BrandonGrotesque-Medium'), url('BrandonGrotesque-Medium.woff') format('woff'), url('BrandonGrotesque-Medium.ttf') format('truetype'), url("BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: local('Brandon Grotesque'), local('BrandonGrotesque'), url('BrandonGrotesque-Regular.woff') format('woff'), url('BrandonGrotesque-Regular.ttf') format('truetype'), url("BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}